html, body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

header{
    background: #000;
    display: flex;
    gap: 10px;
    align-items: center;
    height: 45px;
    color: #ab3131;
}

header div{
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    height: 45px;
}

header h1{
    margin: 0;
    font-size: 20px;
}

header img {
    width: 30px;
    height: 30px;
    margin: 0 0 20px;
}
header span{
    margin: 0 20px 0 auto;
}

#ex1 {
    background:brown;
    width: 400px;
    height: 200px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.bloco {
    background: #000;
    width: 70px;
    height: 70px;   
}

.rightAUTO{
    margin-right: auto;
    
}

#ex3 {
    background-color: brown;
    width: 400px;
    height: 200px;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    padding: 20px;
}

main {
    display: flex;
    height: 1000px;
    width: 1000px;
    margin: 0 auto;
    gap: 20px;
}

#sidebar-right, #sidebar-left {
    width: 200px;
    background: #CCC;
    height: 1000px;
}

#content {
    width: 520px;
    background: #f1f1f1;
    height: 500px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

footer{
    background:brown;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}