html, body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

}
header{
    background: black;
    display:flex;
    gap: 10px;
    align-items:center;
    height: 45px;
    color: #fff;


}

header div {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
}

header h1{
    margin: 0;
    font-size: 20px;

}
header img {
    width: 30px;
    height: 30px;
   
}
header span{
    margin: 0 20px 0 auto;
}

#ex1 {
    background-color: #863535;
    width: 300px;
    height: 100px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.bloco {
    background: black;
    width: 60px;
    height: 60px;
    
    

}

.esquerda {
    margin: 0 0 0 auto ;
}

#ex2 {
    background-color: #863535;
    width: 300px;
    height: 100px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.direita {
    margin: 0 0 ;
}

#ex3 {
    background-color: #863535;
    width: 300px;
    height: 100px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.centro {
    margin: 60px 60px ;
}

main {
    display: flex;
    width: 1000px;
    margin:  0 auto;

}

#sidebar-right, #sidebar-left {
    width: 200px;
    background: #ccc;
    height: 500px;
}

#content {
    width: 560px;
    background: #000;
    height: 500px;
}

footer{
    background: #CCC;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
